<section class="form-m" th:fragment="copy">
	<h3 th:text="${name}"></h3>
	<table class="table table-condensed">
		<thead>
			<tr>
				<th>ID</th>
				<th>Nombre</th>
				<th>Cedula</th>
				<th>Estado</th>
				<th>Telefono</th>
				<th>Fecha</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="archivo:${archivos}">
				<td th:text="${archivo.id}">1</td>
				<td th:text="${archivo.nombre}">Jose Manuel Peralta Estrella</td>
				<td th:text="${archivo.cedula}">4343-434343-4</td>
				<td th:text="${archivo.estado}">F</td>
				<td th:text="${archivo.telefono}">890-432-3243</td>
				<td th:text="${archivo.fecha}">21/32/32</td>

			</tr>

		</tbody>
	</table>
	<nav th:if="${archivos.totalPages != 1}" aria-label="Page navigation">
		<ul class="pagination nav-m">
			<li th:class="${archivos.number == 0} ? disabled">
				<a th:href="@{/${pageView}(page=1, size=${paginaSelecionada})}">
					<span aria-hidden="true">&laquo;</span>
				</a>
			</li>
			<li>
				<a lass="pageLink" th:href="@{${pageView}(page=${archivos.number},size=${paginaSelecionada})}">
					<span>&larr;</span>
				</a>
			</li>
			<!--<li><a href="#">2</a></li>
			<li><a href="#">3</a></li>
			<li><a href="#">4</a></li>
			<li><a href="#">5</a></li>-->
			<li th:class="${archivos.number + 1 == archivos.totalPages} ? disabled">
				<a class="pageLink" th:href="@{${pageView}(page=${archivos.number + 2},size=${paginaSelecionada})}">
					<span>&rarr;</span>
				</a>
			</li>
			<li th:class="${archivos.number + 1 == archivos.totalPages} ? disabled">
				<a class="pageLink" th:href="@{/${pageView}(page=${archivos.totalPages},size=${paginaSelecionada})}">
					<span>&raquo;</span>
				</a>
			</li>
		</ul>
	</nav>
</section>